.Register {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 50px;
}

.dangerBorder {
  border: red 2px solid !important;
}

.dangerText {
  color: red
}